CGM_Jupyter_Breakout_Session_170512-for_pdf.html
CGM_Jupyter_Breakout_Session_170512-for_pdf.ipynb
.ipynb_checkpoints/CGM_Jupyter_Breakout_Session_170512-checkpoint.ipynb
.ipynb_checkpoints/CGM_Jupyter_Breakout_Session_170512-for_pdf-checkpoint.ipynb
